.customer-order-container {
  background-color: #f2f2f2; /* Fondo gris claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.order-title {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.order-subtitle {
  color: #555;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.order-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
}

.order-items {
  margin-top: 20px;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-card {
  display: flex;
  align-items: center;
  background-color: #fff; /* Fondo blanco para ítems individuales */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.item-details h5 {
  margin: 0;
  font-size: 1.1rem;
  color: #000;
}

.item-details p {
  margin: 5px 0;
  color: #555;
}

.loading-text {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
}

/* Fondo especial para el último pedido */
.last-order-card {
  background-color: #e6e6e6; /* Fondo gris más claro */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
